/* Spacing */
/* Colors */
.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

.test-drive-calendar-container {
  position: relative;
  padding: 0 40px;
  text-align: center; }
  .test-drive-calendar-container * {
    box-sizing: border-box; }
  .test-drive-calendar-container li {
    list-style: none; }
  .test-drive-calendar-container .calendar-control {
    position: absolute;
    top: 0; }
    .test-drive-calendar-container .calendar-control:first-child {
      left: 0px; }
    .test-drive-calendar-container .calendar-control:last-child {
      right: 0px; }

button.calendar-control {
  max-width: 40px;
  border: none;
  background: #FFF;
  color: #444;
  padding: 10px;
  margin: 32px 0 0 0;
  font-size: 2em; }

button.time-control {
  background: transparent;
  border: none;
  color: #26C39F; }

.test-drive-calendar {
  overflow: scroll;
  white-space: nowrap;
  touch-action: none;
  font-size: 14px; }
  .test-drive-calendar ul.test-drive-calendar-dates {
    display: flex;
    padding: 0;
    transition: all 0.5s ease-out; }
  .test-drive-calendar li {
    min-width: 90px;
    cursor: pointer; }
    .test-drive-calendar li.selected .test-drive-calendar-block .calendar-date {
      background: #26C39F;
      color: white; }
    .test-drive-calendar li.selected .hours-list-container {
      display: block; }
      .test-drive-calendar li.selected .hours-list-container .hours-list-inner-container {
        max-height: 50vh;
        overflow-y: scroll; }
    .test-drive-calendar li.selected .hours-list .hours-list-item {
      background: #F5F5F5;
      margin: 0;
      text-align: center;
      padding: 10px 15px; }
    .test-drive-calendar li.selected .hours-list .hours-list-item.selected {
      background: #26C39F;
      color: #FFF; }
    .test-drive-calendar li .hours-list-container {
      display: none; }
    .test-drive-calendar li .test-drive-calendar-block {
      text-align: center; }
      .test-drive-calendar li .test-drive-calendar-block .calendar-day {
        color: #696969;
        margin: 0 0 15px 0; }
      .test-drive-calendar li .test-drive-calendar-block .calendar-date {
        background: #F5F5F5;
        color: #444;
        padding: 10px; }
      .test-drive-calendar li .test-drive-calendar-block .calendar-date.closed {
        background: #CCC;
        color: #F5F5F5; }

@media (pointer: coarse) {
  .test-drive-calendar {
    overflow: hidden; } }
